/* base.css */

/* リセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: "Yu Gothic", sans-serif;
  overflow: hidden;
}

.hidden {
  display: none;
}
