/* keyboard.css */

.keyboard {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.key {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 4px;
  border-radius: 6px;
  background: #222;
  line-height: 40px;
  font-size: 20px;
  transition: 0.1s;
}

.key.active {
  background: #0af;
  transform: scale(1.2);
}
